body{
    background-color:#262A56 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


.container{
height:70vh;
width:70vh;
display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
    height:60vh;
    width:60vh;
    margin-bottom: 10px;

}
  



.box{
    height:18vh;
    width: 18vh;
    border-radius: 1rem;
    border: 0;
    background-color: #B8621B;
    color:black;
    padding: 0;
    margin: 0;
    font-size: 3rem;
    
   
}

h1{
    font-size: 3rem;
font-weight: 900;
font-style: bold;
color: #FEFFAC;
}

#reset{
background-color: black;
color: white;
}

#new-game{
    background-color: black;
    color: white;
}



.msg-container{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
width: 100vh;
margin-bottom: 20vh;

}
p{
    font-size: 3rem;
    color:#FEFFAC;

}


#reset{
    height: 2rem;
    width: 4rem;
    background-color: #FEFFAC;
    color: black;
    font-size: 1rem;
    font-style: bold;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
}


#new-game{
    height: 2.5rem;
    width: 6rem;
    background-color: #FEFFAC;
    color: black;
    font-size: 1rem;
    font-style: bold;
    font-weight: 600;
    border: none;
    border-radius: 2.5rem;
}

.hide{
    display: none ;
}